In [4]:
import pandas as pd

In [5]:
LDT_s1 = pd.read_csv('EZ_ELP_s1_correlation_matrix_renamed.csv')
LDT_s2 = pd.read_csv('EZ_ELP_s2_correlation_matrix_renamed.csv')

In [6]:
sum=LDT_s1+LDT_s2
sum['Unnamed: 0'] = LDT_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/2
idx = 0 
ave.insert(loc=idx, column='par', value=LDT_s1['Unnamed: 0'])

In [7]:
ave

,par,v1,v2,a,ndt,alpha,mean_log_rt,alpha_arc_box,acc_arc_box
0,v1,NaN,-0.890818,-0.043308,0.030770,0.109436,-0.435341,0.105299,0.823455
1,v2,-0.890818,NaN,0.009217,-0.028608,-0.060363,0.427443,-0.041652,-0.790870
2,a,-0.043308,0.009217,NaN,-0.087624,0.344352,0.764788,0.346380,0.149058
3,ndt,0.030770,-0.028608,-0.087624,NaN,0.531326,0.453008,0.517245,0.404785
4,alpha,0.109436,-0.060363,0.344352,0.531326,NaN,0.453143,0.996668,0.525400
5,mean_log_rt,-0.435341,0.427443,0.764788,0.453008,0.453143,NaN,0.449876,-0.033882
6,alpha_arc_box,0.105299,-0.041652,0.346380,0.517245,0.996668,0.449876,NaN,0.521864
7,acc_arc_box,0.823455,-0.790870,0.149058,0.404785,0.525400,-0.033882,0.521864,NaN

In [8]:
ave = ave.fillna(1)

In [9]:
ave= ave.round(3)

In [10]:
ave.to_csv('EZ_ELP_average_distinct_correlation_across_2_data.csv')